/* Global options */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --cor-branco:      #f8f9fa;
    --cor-azul:        #003566;
    --cor-azul-escuro: #001d3d;
    --cor-azul-claro:  #00a8e8;
    --cor-preto:       #000814;
    --cor-dourado:     #ffc300;
    --cor-amarelo:     #ffd60a;
    --cor-github:      #adb5bd;
    --cor-linkedin:    #023e8a;

}
body{
    font-size: 100%;
    background-image: url(../IMG/40.jpg);
    background-size: cover;
}
#cabecalho-container{
    background-color: var(--cor-preto);
    height: 70px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;   /*Horizontal*/
    align-items: center;            /*vertical*/
    gap: 400px;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--cor-dourado);
}
#cabecalho-container #links{
    width: 30%;
    height: 70%;
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
#cabecalho-container #links .link{
    color: var(--cor-branco);
    font-size: 13px;
}
#cabecalho-container #links .link:hover{
    color: var(--cor-amarelo);
    transition: 0.3s;
}
.fa-solid{
    font-size: 11px;
}
#cabecalho-container #icons{
    width: 13%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
#cabecalho-container #icons .icon{
    color: var(--cor-branco);
    font-size: 20px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 50%;
    border: 1px solid var(--cor-branco);
    border-style:dashed;
}   
#cabecalho-container #icons .icon:hover{
    color: var(--cor-preto);
    border: var(--cor-preto);
}
.fa-instagram:hover{
    background-image: radial-gradient(circle at 30% 107%,
    #fdf497 0%, #dfd497 5%,
    #fd5949 45%, #d6249f 60%,
    #285AEB 90%);
    outline-color: #a02d76;
    transition: 0.3s;
}
.fa-github:hover{
    background-color: var(--cor-github);
    transition: 0.3s;
}
.fa-linkedin-in:hover{
    background-color: var(--cor-linkedin);
    transition: 0.3s;
}
#conteudo-container{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-color: #ced4da;
}
p {
    background-color: #48cae4;
    font-size: 15px;
    align-items: center;
}
hr {
    width: 90%px;
    height: 3px;
    color: black;
    background-color: black;
}
.footer{
    clear:both;
    color: var(--cor-branco);
    background-color: var(--cor-preto);
    height: 70px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    border-top: 2px solid var(--cor-dourado);
}