/* Global options */
*{
    box-sizing: border-box;
    display: flexbox;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Style */
:root{
    --cor-branco:  #f9fafc;
    --cor-preto:   #0b090a;
    --cor-amarelo: #fae60a;
    --cor-azul:    #011f73;

}

/* Start body */
body{
    background-image: url(../IMG/37.jpg);
    /*background-repeat:round;*/
    background-size: cover;
}

/* Start Header */
#header_container{
    background-color: var(--cor-preto);
    height: 80px;
    border-bottom: 2px solid var(--cor-branco);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    
}

/* Menu */
#header_container #menu{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Lista contendo links */
#header_container #menu #menu_links{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 20px 20px;
    /*border: 1px solid var(--cor-branco);*/
}

#header_container #menu #menu_links li{
    list-style: none;
    /*border: 1px solid var(--cor-branco);*/
}

#header_container #menu #menu_links li .link {
    color: var(--cor-branco);
    text-decoration: none;
    font-size: 15px;
}

.fa-solid{
    font-size: 13px;
}

#header_container #menu #menu_links li .link:hover{
    color: var(--cor-amarelo);
    transition: 0.5s;
}

/* Icones */
#header_container #menu #menu_icons{
    width: 15%;
    height: 70%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    /*border: 1px solid var(--cor-branco);*/
}

#header_container #menu #menu_icons .icon_img .icon{
    color: var(--cor-branco);
    width: 38px;
    height: 38px;
    font-size: 20px;
    text-align:center;
    /*align-items: center;*/
    padding-top:22%;
    border-radius: 50%;
    border: 1px solid var(--cor-branco);
}

#header_container #menu #menu_icons .icon_img .icon:hover{
    /*color: var(--cor-preto);*/
    /*border: 2px solid var(--cor-azul);*/
    font-size: 23px;
    text-align: center;
    padding: 20%;
}
.fa-facebook-f:hover{
    background-color: #457b9d;
    transition: 0.5s;
}
.fa-instagram:hover{
    background-image: radial-gradient(circle at 30% 107%,
    #fdf497 0%, #dfd497 5%,
    #fd5949 45%, #d6249f 60%,
    #285AEB 90%);
    outline-color: #a02d76;
    transition: 0.5s;
}
.fa-twitter:hover{
    background-color:#48cae4;
    transition: 0.5s;
}
.fa-github:hover{
    background-color: #ced4da;
    transition: 0.5s;
}
.fa-linkedin-in:hover{
    background-color:#023e8a;
    transition: 0.5s;
}
.fa-telegram:hover{
    background-color: #3a86ff;
    transition: 0.5s;
}

/* Continue */
#conteudo-container{
    width: 90%;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #ced4da;
}

p {
    background-color: #48cae4;
    font-size: 15px;
    align-items: center;
}
hr {
    width: 90%px;
    height: 3px;
    color: black;
    background-color: black;
}